@import "tailwindcss";

body, * {
    font-family: 'Inter', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Padding interno do input (afeta texto digitado e placeholder) */
.u-input :deep(input) {
    @apply px-4 py-2;
}

/* Estilo do placeholder */
.u-input :deep(input)::placeholder {
    @apply text-gray-500 italic;
}